<!DOCTYPE html>
{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Групи{% endblock meta_title %}

{% block title %}Групи{% endblock title %}

{% block content %}

          <!--Add Student Button  -->
          <a class="btn btn-primary" href="{% url 'groups_add' %}">Додати Групу</a>

          <!--Start groups Listing  -->
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th><a href="#">#</a></th>
                <th>Назва &uarr;</th>
                <th><a href="#">Староста</a></th>
                <th>Дії</th>
              </tr>
            </thead>
            <tbody>
              {% for group in groups %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{% url 'groups_edit' group.id %}">{{ group.groups_name }}</a></td>
                <td><a href="{% url 'students_edit' group.leader.id %}">{{ group.leader.name }}</a></td>
                <td>
                  <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Дія
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="{% url 'groups_edit' group.id %}">Редагувати</a></li>
                    <li><a href="/journal">Відвідування</a></li>
                    <li><a href="{% url 'groups_delete' group.id %}">Видалити</a></li>

                  </ul>
                </div>
                </td>
              </tr>
              {% endfor %}

            </tbody>
          </table>
          <!--End groups Listing  -->

{% include "students/pagination.html" %}
{% endblock content %}
